.auth__option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .auth__option {
        flex-direction: column;
        gap: 5px;
    }
}