.auth__form {
  width: 100%;
  background: transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 60px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .auth__form {
    padding: 25px 22px;
  }
}
