.popup {
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s linear, opacity .2s linear;
}
