.auth__submit-btn {
  height: 50px;
  border: none;
  font-family: 'Inter', 'Arial', 'Georgia', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;
  padding: 0;
  transition: opacity .2s linear;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 2px;
  margin-top: 186px;
}

.auth__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 450px) {
  .auth__submit-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
