.auth__input-container {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
}

.auth__input-container:first-of-type {
  margin-top: 50px;
}

.auth__input-container:last-of-type {
  margin-bottom: 0;
}

